header {
  background-color: #4c2474;
  color: white;
}

img {
  width: 100%;
}

.image-wrapper {
  flex-basis: 50%;
}

h1 {
  margin-left: 0.6rem;
}

body {
  background-color: #eee;
}

button {
  color: white;
  background-color: #4c2474;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

textarea {
  margin-top: 0.6rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid #d4d4d4;
  border-radius: 0.3rem;
  height: 8rem;
  margin-left: 0.8rem;
}

input {
  width: 100%;
  border: 2px solid #d4d4d4;
  border-radius: 0.3rem;
  height: 2.5rem;
  margin: 0.6rem 0;
}

.notes {
  margin-left: 0.8rem;
  margin-top: 2rem;
}
